.container {
  background: var(--white-main);
  border-radius: 20px;
  color: var(--black-main);
  padding-top: 40px;
  padding-bottom: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 48px;
  text-align: center;
  width: 80%;
}

.products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}

.productCard {
  max-width: 264px;
  justify-self: center;
}

.productPhoto {
  width: 100%;
  aspect-ratio: 264/300;
  border-radius: 25px;
  background: var(--gray-main);
  position: relative;
  margin-bottom: 20px;
}

.productText {
  width: 85%;

  input {
    opacity: 0;
    position: absolute;
    pointer-events: none;
  }

  input:checked + .productInfo {
    -webkit-line-clamp: unset;
    line-clamp: unset;
  }

  input:focus ~ .readMore {
    outline: -webkit-focus-ring-color auto 5px;
  }

  p:is(.truncated) + .readMore {
    display: block;
  }
}

.productName {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 15px;
}

.productInfo {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.readMore {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-decoration: underline;
  color: var(--blue-primary);
  cursor: pointer;
  display: none;
}
