.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.input {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  padding: 14px 25px;
  border-radius: 5px;
  border: 2px solid transparent;
  outline: none;
  font-family: var(--font-inter);
}

.small {
  padding: 7px 20px;
}

.input::placeholder {
  color: var(--gray-main);
  font-weight: 300;
  // color: #0000004d;
}

.error {
  border-color: var(--error);
}
