.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.input {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  padding: 14px 25px;
  border-radius: 5px;
  border: 2px solid transparent;
  outline: none;
  font-family: var(--font-inter);
}

.small {
  padding: 7px 20px;
}

.input::placeholder {
  color: var(--gray-main);
  font-weight: 300;
}

.error {
  border-color: var(--error);
}


@media screen and (max-width: 600px) {
  .inputContainer {
    font-weight: 600;
    font-size: 15px;
  }

  .input {
    font-size: 20px;
    line-height: 26px;
    padding: 10px 15px;
  }

  .input::placeholder {
    font-size: 18px;
    line-height: 21px;
  }
}
