.container {
  background: var(--white-main);
  border-radius: 20px;
  color: var(--black-main);
  padding-top: 40px;
  padding-bottom: 75px;
}

.title {
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 36px;
}

.content {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.leftInfo {
  width: 394px;
  min-height: 532px;
  padding: 28px 30px;
  background: var(--blue-primary);
  background-image: url('./assets/bus.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top 0 center;
  border-radius: 35px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: var(--white-main);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;

  & button {
    background-color: var(--blue-secondary);
  }
}

.leftInfoPhone {
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;
  margin-top: 10px;
  margin-bottom: 8px;
}

.workingHours {
  font-weight: 700;
  margin-bottom: 22px;
}

.employeesList {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(195px, 1fr));
  row-gap: 45px;
  column-gap: 40px;
}

.employeeCard {
  width: 100%;
}

.employeePhoto {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 25px;
  background-color: var(--gray-main);
  position: relative;
  margin-bottom: 20px;
}

.employeeName {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.employeePosition {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  margin: 15px 0;
  color: var(--blue-primary);
}

.employeeContactLink {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 5px;
  display: flex;
  gap: 12px;
  align-items: center;
}

.employeeContactLink > svg {
  flex-shrink: 0;
}

.swiper {
  display: none;
  margin: 0 calc(-1 * var(--page-x-padding));
}

@media screen and (max-width: 1080px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .employeesList {
    display: none;
  }

  .swiper {
    display: block;
    margin-top: 40px;
  }

  .employeeCard {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 960px) {
}

@media screen and (max-width: 780px) {
  .container {
    background: var(--white-main);
    border-radius: 20px;
    color: var(--black-main);
    padding-top: 18px;
    padding-bottom: 40px;

    & button {
      padding-top: 18px;
      padding-bottom: 18px;
      border-width: 2px;
      width: 100%;
      min-width: auto;
    }
  }

  .title {
    font-weight: 900;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 15px;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .leftInfo {
    // width: 100%;
    padding: 20px 15px;
    border-radius: 20px;
    font-size: 15px;
    line-height: 19px;
    background-size: 100%;
  }

  .leftInfoPhone {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
  }

  .workingHours {
    margin-bottom: 14px;
  }

  .employeePhoto {
    width: 207px;
  }

  .employeePosition {
    margin: 14px 0;
    max-width: 80%;
  }

  .employeeContactLink {
    margin-bottom: 6px;
  }

  .employeeContactLink > svg {
    flex-shrink: 0;
  }
}

@media screen and (max-width: 440px) {
  .leftInfo {
    width: 100%;
    min-height: 410px;
  }
}
