.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 30px;
  cursor: pointer;
  border-radius: 20px;
  border: 2px dashed var(--white-main);
  gap: 20px;
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.caption {
  font-weight: 200;
  font-size: 20px;
  line-height: 24px;
}

.files {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.fileLine {
  display: flex;
  align-items: center;
  gap: 15px;
}

.fileName {
  font-size: 18px;
  line-height: 22px;
}

.deleteFile {
  background: none;
  border: none;
  cursor: pointer;
  width: 30px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  color: var(--white-main);

  & > svg {
    width: 100%;
    height: 100%;
  }

  & > svg > path {
    stroke: currentColor;
  }
}

.error {
  font-size: 18px;
  line-height: 22px;
  color: var(--error);
}

.iconImport {
  display: none;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 20px;
    padding-bottom: 10px;
  }

  .iconImport {
    display: block;
  }

  .title {
    font-size: 15px;
    line-height: 18px;
  }

  .caption {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
  }

  .fileLine {
    gap: 10px;
  }

  .fileName {
    font-size: 15px;
    line-height: 18px;
  }

  .deleteFile {
    width: 25px;
  }

  .error {
    font-size: 15px;
    line-height: 18px;
  }
}
