:root {
  /*Container sizes*/
  --max-width: 1440px;
  --page-x-padding: 150px;

  /*Border radiuses*/
  --border-radius-s: 8px;
  --border-radius-m: 12px;
  --border-radius-l: 24px;

  /*Colors*/
  --layout-bg-color: #003963;
  --bg-footer: #003257;

  --blue-primary: #1f9ec4;
  --blue-secondary: #003963;

  --white-main: #ffffff;
  --black-main: #000000;
  --gray-main: #d9d9d9;
  --gray-main-50: #d9d9d980;

  --error: #c41f1f;
}

@media screen and (max-width: 1400px) {
  :root {
    --page-x-padding: 120px;
  }
}

@media screen and (max-width: 1280px) {
  :root {
    --page-x-padding: 90px;
  }
}

@media screen and (max-width: 960px) {
  :root {
    --page-x-padding: 60px;
  }
}

@media screen and (max-width: 780px) {
  :root {
    --page-x-padding: 40px;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --page-x-padding: 20px;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
  font-family: var(--font-inter);
}

body {
  color: var(--white-main);
  background: var(--layout-bg-color);
  font-family: var(--font-inter);
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
  transition: opacity 0.4s ease;
}

a:hover {
  opacity: 0.85;
}

header,
main > section,
footer {
  width: 100%;
  margin: 0 auto;
  max-width: var(--max-width);
  padding: 0 var(--page-x-padding);
  /* border: 1px solid green; */
}

main {
  flex: 1 1 auto;
}

.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page:before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background: url(../assets/backgrounds/main-bg.png) 0 0 repeat;

  @media screen and (max-width: 780px) {
    & {
      background: none;
      position: relative;
    }
  }
}

.disabled-scroll {
  overflow-y: hidden;
}

.swiper-slide {
  text-align: center;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.swiper-content {
  height: auto !important;
}

.swiper-button-disabled {
  opacity: 0.4 !important;
  cursor: auto !important;
}

.swiper-button-disabled:hover {
  transform: none !important;
}

.swiper-pagination {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin: 0 auto !important;
}

.swiper-pagination-bullet {
  width: 8px !important;
  height: auto !important;
  aspect-ratio: 1/1 !important;
  opacity: 0.9 !important;
  background-color: var(--white-main) !important;
}

.dark {
  & .swiper-pagination-bullet {
    background-color: var(--gray-main) !important;
  }

  & .swiper-pagination-bullet-active {
    background-color: var(--blue-primary) !important;
  }
}

.swiper-pagination-bullet-active {
  width: 13px !important;
  opacity: 1 !important;
  background-color: var(--blue-primary) !important;
}
