.container {
  position: relative;
}

.prevBtn,
.nextBtn {
  height: 100%;
  width: 150px !important;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  height: calc(100% - 45px);
  z-index: 10;
}

.prevBtn {
  left: 0;
  padding-left: 38px;
  justify-content: flex-start;
}

.nextBtn {
  right: 0;
  padding-right: 38px;
  justify-content: flex-end;
}

.withSideFilter {
  & .prevBtn {
    left: -2px;
    background: linear-gradient(270deg, rgba(0, 57, 99, 0) 0%, #003963 100%),
      linear-gradient(270deg, rgba(0, 57, 99, 0) 0%, #003963 100%);
  }

  & .nextBtn {
    right: -2px;
    background: linear-gradient(270deg, #003963 0%, rgba(0, 57, 99, 0) 100%);
  }
}

.navBtn {
  cursor: pointer;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  z-index: 2;
  opacity: 1;
  transition: opacity 0.7s ease-in, transform 0.2s ease-in;
}

.navBtn:hover {
  transform: scale(1.1);
}

.dark {
  & svg > path {
    stroke: var(--blue-secondary);
  }
}

@media screen and (max-width: 960px) {
  .prevBtn,
  .nextBtn {
    background: none;
    width: 50px !important;
  }

  .prevBtn {
    padding-left: 25px;
  }

  .nextBtn {
    padding-right: 25px;
  }
}

@media screen and (max-width: 600px) {
  .navBtn svg {
    width: 14px;
  }

  .prevBtn {
    padding-left: clamp(8px, 3%, 50px);
    background: none !important;
  }

  .nextBtn {
    padding-right: clamp(8px, 3%, 50px);
    background: none !important;
  }
}
