.container {
  padding-top: 52px;
  padding-bottom: 30px;
}

.content {
  display: flex;
  flex-direction: column;
  background-image: url('./assets/delivery-box.png');
  background-size: 47% 100%;
  background-repeat: no-repeat;
  background-position: top 0 right 0;
  margin-left: 140px;
  margin-right: 60px;
  padding: 32px 0 50px;
}

.title {
  font-weight: 800;
  font-size: 38px;
  line-height: 46px;
  margin-bottom: 14px;
  max-width: 480px;
}

.caption {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  max-width: 380px;
}

.btns {
  margin-top: 36px;
}
