.container {
  padding: 0;
  margin-top: 40px;
  margin-bottom: 54px;
  align-items: center;
}

.title {
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 45px;
}

.slide {
  width: 350px !important;
  height: 356px !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  border-radius: 40px;
  overflow: hidden;
  background: var(--blue-primary);
}

.slideInner {
  width: 100%;
  height: 100%;
  margin-top: auto;
  display: flex;
  align-items: end;
  padding: 30px 23px;
}

.slideText {
  font-weight: 700;
  text-align: left;
}

.slideTextS {
  font-size: 17px;
  line-height: 21px;
}

.slideTextM {
  font-size: 20px;
  line-height: 24px;
}

.slideTextL {
  font-size: 30px;
  line-height: 36px;
}

.additional {
  padding: 0 var(--page-x-padding);
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.additionalTitle {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 25px;
}

.additionalList {
  list-style: none;
  list-style-position: inside;
}

.additionalItem {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 15px;
}

.additionalItem:last-child {
  margin-bottom: 0;
}

.additionalItemNum {
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: var(--blue-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  flex-shrink: 0;
}

.additionalItemText {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.btns {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 780px) {
  .additional {
    margin-top: 44px;
    width: 100%;
  }

  .additionalTitle {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 28px;
  }

  .additionalItem {
    margin-bottom: 23px;
  }

  .additionalItemText {
    font-size: 15px;
    line-height: 20px;
  }

  .btns {
    flex-direction: column;
    padding: 0 var(--page-x-padding);
    padding-top: 30px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    margin-top: 24px;
    margin-bottom: 44px;
  }

  .title {
    font-weight: 900;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 18px;
  }

  .slide {
    width: 257px !important;
    height: 260px !important;
    border-radius: 20px;
  }

  .slideInner {
    padding: 22px 16px;
  }

  .slideText {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
  }

  .slideTextS {
    font-size: 13px;
    line-height: 16px;
  }

  .slideTextM {
    font-size: 17px;
    line-height: 21px;
  }

  .slideTextL {
    font-size: 22px;
    line-height: 24px;
  }
}
